/* components/custom.css */
.bg-black {
    background-color: black;
  }
  
  .text-orange {
    color: orange;
  }

.background {
  background-image: url('/public/BackSplash.jpg'); /* Replace with the actual path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Set the desired height for the background */
}
